.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: var(--units) auto;
  height: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.title h1 {
  font-size: calc(var(--units) * 1.5);
  font-weight: 500;
  color: var(--textcolor);
}
.title .titleIcone {
  font-size: calc(var(--units) * 1.5);
  color: var(--textcolor);
}
.btn {
  z-index: 50;
}

.tapleOfUsers {
  display: flex;
  flex-direction: column;
  background-color: var(--backgroundcolor);
  width: 100%;
  height: 80%;
  position: relative;
  border-radius: var(--units);
  padding: var(--units) 0;
  position: relative;
}

.tapleOfUsers .content {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  overflow-y: auto;
  padding: calc(var(--units));
  overflow-y: scroll;
}
.tapleOfUsers .content .row {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
  align-items: center;
  justify-content: space-around;
  padding: calc(var(--units) / 1.7) var(--units);
  border-bottom: solid 1px var(--co6color);
}
.tapleOfUsers .content .header {
  background-color: var(--co2color);
  border-radius: calc(var(--units) / 2);
  margin-bottom: var(--units);
}

.tapleOfUsers .content .row .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: calc(var(--units));
  color: var(--textcolor);

  font-size: var(--units);
}

.tapleOfUsers .content .row .sender {
  width: 70%;
  justify-content: flex-start;
}

.tapleOfUsers .content .row .trash {
  width: 30%;
  justify-content: center;
  align-items: center;
  background-color: var(--co2color);
  color: var(--textcolor);
  padding: calc(var(--units) / 3) 0;
  border-radius: calc(var(--units) / 2);
}
.tapleOfUsers .content .row .trash:hover {
  background-color: var(--textcolor);
  color: var(--co2color);
}
.tapleOfUsers .content .row .item h2 {
  font-size: var(--units);
  font-weight: 500;
}
.tapleOfUsers .content .row .item .eye:hover {
  color: var(--co4color);
}

.pendingHover:hover {
  background-color: var(--co33color);
  border-radius: var(--units);
}
.approvedHover:hover {
  background-color: var(--co11color);
  border-radius: var(--units);
}
.rejectedHover:hover {
  background-color: var(--co22color);
  border-radius: var(--units);
}
.pending {
  background-color: var(--co33color);
  border-radius: var(--units);
  padding: calc(var(--units) / 5) var(--units);
  padding: calc(var(--units) / 5) calc(var(--units) * 2);
}
.approved {
  background-color: var(--co11color);
  border-radius: var(--units);
  padding: 0 var(--units);
  padding: calc(var(--units) / 5) var(--units);
  padding: calc(var(--units) / 5) calc(var(--units) * 2);
}
.rejected {
  background-color: var(--co22color);
  border-radius: var(--units);
  padding: 0 var(--units);
  padding: calc(var(--units) / 5) calc(var(--units) * 2);
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: calc(var(--units) / 2);
  height: 50%;
  margin: auto;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--co2color);
  border-radius: calc(var(--units) / 2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--textcolor);
  border-radius: calc(var(--units) / 2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--co6color);
}
