.contaner {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: calc(var(--units) * 2);
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--units);
  position: relative;
  color: var(--textcolor);
  font-size: var(--units);
}
.icone {
  color: var(--textcolor);
  font-size: calc(var(--units) * 1.4);
}
.list {
  position: absolute;
  top: calc(var(--units) * 2);
  z-index: 0;
  background-color: var(--co3color);
  flex-direction: column;
  padding: 0;
  color: var(--textcolor);
  border-radius: var(--units);
  border: solid 1px var(--textcolor);
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.6, 0.05, 0.4, 1);
}
.role {
  display: flex;
  flex-direction: row;
  gap: var(--units);
  border-bottom: solid 1px var(--textcolor);
  padding: calc(var(--units) / 2) var(--units);
  font-size: var(--units);
  align-items: center;
}
.role:hover {
  cursor: pointer;
  background-color: var(--textcolor);
  color: var(--backgroundcolor);
}
.role:hover .logo {
  color: var(--textcolor);
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: calc(var(--units) * 2);
  width: calc(var(--units) * 2);
  border-radius: 50%;
  font-weight: 500;
  background-color: var(--backgroundcolor);
}
.userContaner {
  display: flex;
  flex-direction: column;
}
.userContaner {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: var(--units);
}
.user {
  background-color: var(--backgroundcolor);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--units) / 4);
  padding: var(--units) 0;
  border-radius: var(--units);
  color: var(--textcolor);
}
.user h2 {
  text-align: center;
  height: calc(var(--units) * 2);
  overflow: hidden;
  text-overflow: clip;
  font-weight: 600;
  font-size: calc(var(--units) * 1.3);
}
.user:hover {
  background-color: var(--co3color);
}
h2,
h3 {
  margin: 0;
}
