.MainContaner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: calc(var(--units));
  position: relative;
}
.TableContaner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.TableContaner table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  padding: var(--units);
  /* display: flex;
  flex-direction: column; */
}

.TableContaner table thead tr {
  background-color: var(--backgroundcolor_2);
  border-radius: var(--units);
  padding: var(--units);
}
.TableContaner table tbody tr {
  background-color: var(--backgroundcolor_1);
  transition: 200ms all ease-in-out;
}
.TableContaner table tbody tr:hover {
  scale: 1.01;
  background-color: var(--backgroundcolor_2);
}
.TableContaner table td {
  text-align: left;
  padding: var(--units);
  border-bottom: solid 1px var(--backgroundcolor_2);
  transition: 100ms all ease-in-out;
}

.TableContaner table td :hover {
  scale: 1.01;
  background-color: var(--backgroundcolor_2);
}
.TableContaner table th {
  text-align: left;
  padding: var(--units);
  border-bottom: solid 1px var(--backgroundcolor_2);
  transition: 100ms all ease-in-out;
  background-color: #4caf4f00;
}

.TableContaner table td :hover {
  scale: 1.01;
  background-color: var(--backgroundcolor_2);
}
.deleteBtn {
  text-align: center !important;
}

.deleteWindow {
  position: absolute;
  background-color: var(--backgroundcolor_2);
  width: 40%;
  height: 50%;
  border-radius: var(--units);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--units);
  z-index: 100;
  margin: auto;
}
.deleteWindow h2 {
  margin-bottom: var(--units);
}
.deleteWindow h2 span {
  color: var(--text_color_2);
}
.deleteWindowBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--units);
  width: 100%;
}
.deleteWindowBtns button {
  padding: calc(var(--units) / 2) var(--units);
  border-radius: calc(var(--units) / 2);
  border: solid 1px var(--text_color_2);
  background-color: var(--backgroundcolor_1);
  color: var(--text_color_2);
  font-size: calc(var(--units));
  transition: 200ms all ease-in-out;
}
.deleteWindowBtns button:hover {
  background-color: var(--text_color_2);
  color: var(--text_color_3);
}
