.actionCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: auto;
  padding: 1rem 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.6s cubic-bezier(0.6, 0.05, 0.4, 1);
  background-color: var(--backgroundcolor_1);
}
.actionCard:hover {
  scale: 1.05;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.item {
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
  z-index: 10;
  width: 100%;
}
.first h1 {
  padding: 0.3rem;
  font-size: calc(var(--units));
  color: var(--color1);
  background-color: var(--color11);
  border-radius: 8px;
  font-weight: 400;
  transition: background-color 200ms ease-in-out, color 220ms ease-out;
}

.actionCard:hover .first h1 {
  transition-delay: 0;
  color: white;
  background-color: var(--color21);
  transition-delay: 320ms;
}
.Second {
  width: 70%;
  text-align: center;
}
.Second h1 {
  padding: 0.3rem;
  font-size: calc(var(--units) );
  border-radius: 8px;
  font-weight: 600;
  animation: example 1ms;
  transition: 500ms ease-in-out color;
}
.actionCard:hover .Second h1 {
  transition-delay: 0;
  color: white;
  transition-delay: 60ms;
}
.third button {
  color: var(--text_color_2);
  font-size: calc(var(--units)*0.9);
  font-weight: 500;
  border: solid 1px var(--backgroundcolor_2);
  padding: 0.2rem 0.9rem;
  border-radius: 16px;
  transition: 200ms color;
}
.actionCard:hover .third h1 {
  transition-delay: 0;
  color:var();
  transition-delay: 70ms;
}
.back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3%;
  bottom: 0;
  background-color: var(--color1);
  position: absolute;
  transition: all 0.6s cubic-bezier(0.6, 0.05, 0.4, 1);
}
.actionCard:hover .back {
  height: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.test {
  position: absolute;
  display: flex;
  width: 60%;
  gap: calc(var(--units) * 3);
  margin: auto;
  justify-content: center;
  align-items: center;
  top: 40%;
  left: 35%;
}
