input {
  all: unset;
}

.contaner {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.left {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}

.leftContaner {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  gap: calc(var(--units) * 3);
}
.formEmail {
  position: relative;
  width: 60%;
  color: var(--text_color_1);
}
.formEmail form {
  display: flex;
  flex-direction: column;
  color: var(--textcolor);
}
.fild {
  display: flex;
  flex-direction: column;
  margin: var(--units);
}
.formEmail form > * {
  margin: var(--units) 0;
  
}
.formEmail form input {
  padding: calc(var(--units) / 2) calc(var(--units) / 2);
  border-bottom: solid 1px var(--backgroundcolor);
  transition: 300ms ease-in-out;
  color: var(--textcolor);
  box-shadow: 0 0 0 0 var(--backgroundcolor);
  border: solid 1px var(--hoverColor);
  text-align: start;
}
.formEmail form input:focus,
.formEmail form input:valid {
  transition-delay: 200ms;
  background-color: var(--co3color);
  border-radius: calc(var(--units) / 2);
}
.formEmail form label {
  color: var(--backgroundcolor);
  transform: translate3d(2%, -130%, 0);
  transition: 300ms ease-in;
}

.formEmail form input:focus ~ label,
.formEmail form input:valid ~ label {
  transform: translate3d(2%, -300%, 0);
}
.formEmail button{
  width: 100%;
  padding: calc(var(--units) / 2) calc(var(--units) / 2);
  border-radius: calc(var(--units) / 2);
  background-color: var(--text_color_2);
  color: var(--text_color_3);
  transition: 300ms ease-in-out;
  border: solid 1px var(--text_color_2);

}
.formEmail button:hover{
  background-color: var(--text_color_3);
  color: var(--text_color_2);
  border: solid 1px var(--text_color_2);
}
.left .title {
  position: relative;
  width: fit-content;
}
.left .title h1 {
  position: relative;
  
  font-size: calc(var(--units) * 4);
  width: fit-content;
  color: var(--text_color_1);
}
.left .title h1 span {
  position: absolute;
  font-size: calc(var(--units));
  color: var(--text_color_2);
}
.left .title h1 .bottomn {
  bottom: 0;
}
.left .title h1 .top {
  left: 70%;
}
.left .btn {
  width: 50%;
}

.right {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  color: var(--text_color_3);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(41%2c 48%2c 86%2c 1)'%3e%3c/rect%3e%3cpath d='M94.31 322.3L159.27 359.8L159.27 434.8L94.31 472.3L29.36 434.8L29.36 359.8zM159.27 -15.2L224.22 22.3L224.22 97.3L159.27 134.8L94.31 97.3L94.31 22.3zM159.27 434.8L224.22 472.3L224.22 547.3L159.27 584.8L94.31 547.3L94.31 472.3zM224.22 547.3L289.18 584.8L289.18 659.8L224.22 697.3L159.27 659.8L159.27 584.8zM289.18 -15.2L354.13 22.3L354.13 97.3L289.18 134.8L224.22 97.3L224.22 22.3zM613.94 547.3L678.9 584.8L678.9 659.8L613.94 697.3L548.99 659.8L548.99 584.8zM743.85 97.3L808.81 134.8L808.81 209.8L743.85 247.3L678.9 209.8L678.9 134.8zM873.76 97.3L938.71 134.8L938.71 209.8L873.76 247.3L808.8 209.8L808.8 134.8zM808.8 209.8L873.76 247.3L873.76 322.3L808.8 359.8L743.85 322.3L743.85 247.3zM938.71 -15.2L1003.67 22.3L1003.67 97.3L938.71 134.8L873.76 97.3L873.76 22.3zM1003.67 97.3L1068.62 134.8L1068.62 209.8L1003.67 247.3L938.71 209.8L938.71 134.8zM1003.67 547.3L1068.62 584.8L1068.62 659.8L1003.67 697.3L938.71 659.8L938.71 584.8zM1133.57 322.3L1198.53 359.8L1198.53 434.8L1133.57 472.3L1068.62 434.8L1068.62 359.8zM1198.53 209.8L1263.48 247.3L1263.48 322.3L1198.53 359.8L1133.57 322.3L1133.57 247.3zM1263.48 322.3L1328.43 359.8L1328.43 434.8L1263.48 472.3L1198.53 434.8L1198.53 359.8zM1198.53 434.8L1263.48 472.3L1263.48 547.3L1198.53 584.8L1133.57 547.3L1133.57 472.3zM1393.39 97.3L1458.34 134.8L1458.34 209.8L1393.39 247.3L1328.43 209.8L1328.43 134.8zM1328.43 209.8L1393.39 247.3L1393.39 322.3L1328.43 359.8L1263.48 322.3L1263.48 247.3zM1458.34 209.8L1523.3 247.3L1523.3 322.3L1458.34 359.8L1393.39 322.3L1393.39 247.3zM1523.3 322.3L1588.25 359.8L1588.25 434.8L1523.3 472.3L1458.34 434.8L1458.34 359.8z' stroke='rgba(58%2c 68%2c 122%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M86.81 322.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM151.77 359.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM151.77 434.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM86.81 472.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM21.86 434.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM21.86 359.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM151.77 -15.2 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM216.72 22.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM216.72 97.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM151.77 134.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM86.81 97.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM86.81 22.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM216.72 472.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM216.72 547.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM151.77 584.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM86.81 547.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM281.68 584.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM281.68 659.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM216.72 697.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM151.77 659.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM281.68 -15.2 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM346.63 22.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM346.63 97.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM281.68 134.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM606.44 547.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM671.4 584.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM671.4 659.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM606.44 697.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM541.49 659.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM541.49 584.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM736.35 97.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM801.31 134.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM801.31 209.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM736.35 247.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM671.4 209.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM671.4 134.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM866.26 97.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM931.21 134.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM931.21 209.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM866.26 247.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM801.3 209.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM801.3 134.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM866.26 322.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM801.3 359.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM736.35 322.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM931.21 -15.2 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM996.17 22.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM996.17 97.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM866.26 22.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1061.12 134.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1061.12 209.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM996.17 247.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM996.17 547.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1061.12 584.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1061.12 659.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM996.17 697.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM931.21 659.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM931.21 584.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1126.07 322.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1191.03 359.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1191.03 434.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1126.07 472.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1061.12 434.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1061.12 359.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1191.03 209.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1255.98 247.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1255.98 322.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1126.07 247.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1320.93 359.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1320.93 434.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1255.98 472.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1255.98 547.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1191.03 584.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1126.07 547.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1385.89 97.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1450.84 134.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1450.84 209.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1385.89 247.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1320.93 209.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1320.93 134.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1385.89 322.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1515.8 247.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1515.8 322.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1450.84 359.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1580.75 359.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1580.75 434.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1515.8 472.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1450.84 434.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='rgba(58%2c 68%2c 122%2c 1)'%3e%3c/path%3e%3cpath d='M59.87 48.74L103.18 73.74L103.18 123.74L59.87 148.74L16.57 123.74L16.57 73.74zM59.87 348.74L103.18 373.74L103.18 423.74L59.87 448.74L16.57 423.74L16.57 373.74zM16.57 423.74L59.87 448.74L59.87 498.74L16.57 523.74L-26.73 498.74L-26.73 448.74zM146.48 48.74L189.78 73.74L189.78 123.74L146.48 148.74L103.18 123.74L103.18 73.74zM146.48 198.74L189.78 223.74L189.78 273.74L146.48 298.74L103.18 273.74L103.18 223.74zM146.48 348.74L189.78 373.74L189.78 423.74L146.48 448.74L103.18 423.74L103.18 373.74zM146.48 498.74L189.78 523.74L189.78 573.74L146.48 598.74L103.18 573.74L103.18 523.74zM233.08 48.74L276.38 73.74L276.38 123.74L233.08 148.74L189.78 123.74L189.78 73.74zM233.08 198.74L276.38 223.74L276.38 273.74L233.08 298.74L189.78 273.74L189.78 223.74zM189.78 273.74L233.08 298.74L233.08 348.74L189.78 373.74L146.48 348.74L146.48 298.74zM233.08 498.74L276.38 523.74L276.38 573.74L233.08 598.74L189.78 573.74L189.78 523.74zM319.69 48.74L362.99 73.74L362.99 123.74L319.69 148.74L276.38 123.74L276.38 73.74zM276.38 123.74L319.69 148.74L319.69 198.74L276.38 223.74L233.08 198.74L233.08 148.74zM319.69 198.74L362.99 223.74L362.99 273.74L319.69 298.74L276.38 273.74L276.38 223.74zM276.38 423.74L319.69 448.74L319.69 498.74L276.38 523.74L233.08 498.74L233.08 448.74zM362.99 273.74L406.29 298.74L406.29 348.74L362.99 373.74L319.69 348.74L319.69 298.74zM449.6 423.74L492.9 448.74L492.9 498.74L449.6 523.74L406.29 498.74L406.29 448.74zM492.9 498.74L536.2 523.74L536.2 573.74L492.9 598.74L449.6 573.74L449.6 523.74zM536.2 -26.26L579.5 -1.26L579.5 48.74L536.2 73.74L492.9 48.74L492.9 -1.26zM579.5 48.74L622.81 73.74L622.81 123.74L579.5 148.74L536.2 123.74L536.2 73.74zM579.5 198.74L622.81 223.74L622.81 273.74L579.5 298.74L536.2 273.74L536.2 223.74zM536.2 273.74L579.5 298.74L579.5 348.74L536.2 373.74L492.9 348.74L492.9 298.74zM579.5 348.74L622.81 373.74L622.81 423.74L579.5 448.74L536.2 423.74L536.2 373.74zM622.81 -26.26L666.11 -1.26L666.11 48.74L622.81 73.74L579.5 48.74L579.5 -1.26zM666.11 48.74L709.41 73.74L709.41 123.74L666.11 148.74L622.81 123.74L622.81 73.74zM666.11 198.74L709.41 223.74L709.41 273.74L666.11 298.74L622.81 273.74L622.81 223.74zM709.41 -26.26L752.71 -1.26L752.71 48.74L709.41 73.74L666.11 48.74L666.11 -1.26zM752.71 198.74L796.02 223.74L796.02 273.74L752.71 298.74L709.41 273.74L709.41 223.74zM752.71 348.74L796.02 373.74L796.02 423.74L752.71 448.74L709.41 423.74L709.41 373.74zM709.41 423.74L752.71 448.74L752.71 498.74L709.41 523.74L666.11 498.74L666.11 448.74zM839.32 48.74L882.62 73.74L882.62 123.74L839.32 148.74L796.02 123.74L796.02 73.74zM796.02 423.74L839.32 448.74L839.32 498.74L796.02 523.74L752.71 498.74L752.71 448.74zM882.62 273.74L925.92 298.74L925.92 348.74L882.62 373.74L839.32 348.74L839.32 298.74zM925.92 348.74L969.23 373.74L969.23 423.74L925.92 448.74L882.62 423.74L882.62 373.74zM882.62 423.74L925.92 448.74L925.92 498.74L882.62 523.74L839.32 498.74L839.32 448.74zM925.92 498.74L969.23 523.74L969.23 573.74L925.92 598.74L882.62 573.74L882.62 523.74zM1055.83 -26.26L1099.13 -1.26L1099.13 48.74L1055.83 73.74L1012.53 48.74L1012.53 -1.26zM1055.83 123.74L1099.13 148.74L1099.13 198.74L1055.83 223.74L1012.53 198.74L1012.53 148.74zM1055.83 423.74L1099.13 448.74L1099.13 498.74L1055.83 523.74L1012.53 498.74L1012.53 448.74zM1185.74 48.74L1229.04 73.74L1229.04 123.74L1185.74 148.74L1142.43 123.74L1142.43 73.74zM1185.74 198.74L1229.04 223.74L1229.04 273.74L1185.74 298.74L1142.43 273.74L1142.43 223.74zM1185.74 498.74L1229.04 523.74L1229.04 573.74L1185.74 598.74L1142.43 573.74L1142.43 523.74zM1229.04 123.74L1272.34 148.74L1272.34 198.74L1229.04 223.74L1185.74 198.74L1185.74 148.74zM1272.34 348.74L1315.64 373.74L1315.64 423.74L1272.34 448.74L1229.04 423.74L1229.04 373.74zM1229.04 423.74L1272.34 448.74L1272.34 498.74L1229.04 523.74L1185.74 498.74L1185.74 448.74zM1272.34 498.74L1315.64 523.74L1315.64 573.74L1272.34 598.74L1229.04 573.74L1229.04 523.74zM1358.95 198.74L1402.25 223.74L1402.25 273.74L1358.95 298.74L1315.64 273.74L1315.64 223.74zM1358.95 348.74L1402.25 373.74L1402.25 423.74L1358.95 448.74L1315.64 423.74L1315.64 373.74zM1402.25 -26.26L1445.55 -1.26L1445.55 48.74L1402.25 73.74L1358.95 48.74L1358.95 -1.26zM1402.25 123.74L1445.55 148.74L1445.55 198.74L1402.25 223.74L1358.95 198.74L1358.95 148.74zM1402.25 273.74L1445.55 298.74L1445.55 348.74L1402.25 373.74L1358.95 348.74L1358.95 298.74zM1445.55 348.74L1488.86 373.74L1488.86 423.74L1445.55 448.74L1402.25 423.74L1402.25 373.74zM1445.55 498.74L1488.86 523.74L1488.86 573.74L1445.55 598.74L1402.25 573.74L1402.25 523.74z' stroke='rgba(52%2c 59%2c 99%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.rightContaner {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 70%;
  justify-content: space-between;
}
.rightContaner .title {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.rightContaner .title h2 {
  font-size: calc(var(--units) * 3);
  color: var(--textcolor);
  font-weight: 600;
}
.rightContaner .title h1 {
  font-size: calc(var(--units) * 3);
  color: var(--textcolor);
  font-weight: 700;
}
.rightContaner .img {
  display: flex;
  position: relative;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: center;
  transition: 200ms;
}
.rightContaner .img:hover {
  animation: fadeinphoto 1s;
}
@keyframes fadeinphoto {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    opacity: 1;
  }
}
.rightContaner .img img {
  position: relative;
  height: auto;
  width: auto;
  padding-right: 0px;
  padding-left: 0px;
  background-position: center;
}

.icone {
  margin: 0 var(--units) 0 0;
  color: var(--co22color);
}
.errorMessage {
  color: var(--backgroundcolor);
}
