:root {
  --backgroundcolor: #ffffff;
  --co1color: #f4f5fc;
  --co2color: #e9ecf6;
  --co3color: #e2e4f3;
  --co4color: #c5cae6;
  --co5color: #5863b4;
  --co6color: #bfc0c5;
  --co11color: #d6f5fa;
  --co22color: #fee5e4;
  --co33color: #ffefd7;

  --units: 1rem;
  --time-1: 100ms;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}
h1,
h2,
p {
  font-size: clamp(var(--min), var(--val), var(--max));
}

h1 {
  --min: 2em;
  --val: 4vw;
  --max: 3em;
}
h2 {
  --min: 1.5em; /* minimum value */
  --val: 2vw; /* preferred value = 4% viewport width */
  --max: 2.25em; /* maximum value */
}
h3 {
  --min: 0.75em; /* minimum value */
  --val: 1vw; /* preferred value = 4% viewport width */
  --max: 1.25em; /* maximum value */
}
p {
  --min: 1em;
  --val: 2.5vw;
  --max: 1.5em;
}
